@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list__header{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    padding-top: 25px;
    justify-content: start;
}

.list__header a{
    color: #FFE2E4;
    margin-right: 50px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;

}


.list__header a:hover{
  text-decoration: underline;
}

header{
    background: url(./bandeira-lingua-inglesa\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5); 
    background-blend-mode: multiply;
    height: 100vh;
    font-family: 'Source Code Pro', monospace;
}

.header__main{
    color: #FFE2E4;
    margin-top: 200px;
    margin-left: 25vw;
}

.title__portfolio{
    font-size: 75px;
    font-weight: 900;
}


.description__portfolio{
    margin-top: 100px;
}


.button__go{
    margin-top: 100px;
    margin-left: 335px;
    background: url(./BOTAO.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    width: 265px;
    height: 81px;
}



/*MAIN*/

main{
    background-color: #011526;
    color: #A79C93;
    width: 100/2vw;
    padding: 60px;
    word-spacing: .7em;
    font-size: 18px;
    font-family: 'Source Code Pro', monospace;
}

.conteudos{
    margin-top: 25px;
    
}
.introduction h1,  .conteudoX h1 , .eventoX h1{
    font-size: 27px;
    margin-bottom: 10px;  
    margin-top: 30px; 
    color: aliceblue;
}

.quarto-conteudo h3{
    color: rgb(212, 212, 212);
}


/*
EVENTOS
*/


.eventos h1{
    padding-top: 28px;
    font-size: 36px;
}

.eventoX {
    display: flex;
    margin-top: 20px;
    text-align: justify;
}

.eventoX img{
    width: 619px;
}

.eventoJOI2{
    display: flex;
    margin-top: 20px;
}

.eventoJOI2 img {
    margin-right: 20px;
}

.content__eventoX{
    margin-right: 25px;
}


/* Para navegadores modernos (Webkit/Blink) */
::-webkit-scrollbar {
    width: 10px; /* Largura do scroll vertical */
    height: 10px; /* Altura do scroll horizontal */
  }
  
  /* Cor do fundo do scroll */
  ::-webkit-scrollbar-track {
    background: #5c0a0a; /* Cor de fundo */
  }
  
  /* Cor do scroll */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Cor do scroll */
    border-radius: 10px;
  }
  



@media screen and (max-width: 900px){
    .eventoX{
        flex-direction: column;
    }   
    img{
        max-width: 100%;
        padding-top: 20px;
    }

    .eventoJOI2{
        .imagemX{
            order: 2;
        }
        flex-direction:column ;
    }

    .button__go{
        display: none;
    }

    .title__portfolio{
        font-size: 38px;
        font-weight: 700;
    }

    .description__portfolio{
        font-weight: 400;
        text-align: start;
        margin-right: 100px;
    }
}